<template>
  <div class="container-content-page">
    <div class="container-left">
      <div class="container-title-progress-bar">
        <p class="title-step-progress">Jornada de pontos:</p>
        <span class="tooltip">
          <Information />
          <span class="tooltiptext">
            <points-table />
          </span>
        </span>
      </div>
      <step-progress-bar :config="configStepProgressBar"></step-progress-bar>
      <button
        class="button-carousel"
        :disabled="lastStep <= 400"
        @click="clickButtonLeft()"
      >
        <ChevronLeftBoxOutline :size="40" />
      </button>
      <button
        class="button-carousel"
        :disabled="lastStep >= 5000"
        @click="clickButtonRight()"
      >
        <ChevronRightBoxOutline :size="40" />
      </button>
      <div class="message-missions">
        <div class="message-bold">Missões Bônus</div>
        <div class="message">
          Pontos extras para as missões realizadas no mês de {{ getNameMonth }}:
        </div>
      </div>
      <div class="container-extra-missons" v-if="userData.Missao1">
        <extra-mission
          :description="'2 Credenciamentos com faturamento'"
          points="20"
          :checkMission="userData.CheckMissao1 == '1'"
        ></extra-mission>
        <extra-mission
          :description="'6 Credenciamentos com faturamento'"
          points="40"
          :checkMission="userData.CheckMissao2 == '1'"
        ></extra-mission>
        <extra-mission
          :description="'10 Credenciamentos com faturamento'"
          points="60"
          :checkMission="userData.CheckMissao3 == '1'"
        ></extra-mission>
        <extra-mission
          :description="'2 Contratos Novos VR'"
          points="20"
          :checkMission="userData.CheckMissao4 == '1'"
        ></extra-mission>
        <extra-mission
          :description="'4 Contratos Novos VR'"
          points="40"
          :checkMission="userData.CheckMissao5 == '1'"
        ></extra-mission>
        <extra-mission
          :description="'6 Contratos Novos VR'"
          points="60"
          :checkMission="userData.CheckMissao6 == '1'"
        ></extra-mission>
      </div>
    </div>

    <div class="container-right">
      <div class="container-title">
        <div class="icon-podium">
          <Podium :size="50" />
        </div>
        <div class="title-right">
          <h4>SUV: 326</h4>
          <p>Total de empregados:</p>
          <p>Total de habilitados:</p>
          <p>% de habilitados:</p>
          <p>Posição: xº de 349</p>
        </div>
      </div>
      <p>
        Para saber mais,
        <span class="span-click" @click="redirectPage('relatorios', '3')"
          >Clique aqui</span
        >
      </p>

      <div class="container-imgs-reports">
        <img
          :src="require(`@/assets/images/img-maquininha.jpg`)"
          alt=""
          class="imgs-reports"
          @click="redirectPage('relatorios', '1')"
        />
        <img
          :src="require(`@/assets/images/img-indicadores.jpg`)"
          alt=""
          class="imgs-reports"
          @click="redirectPage('relatorios', '2')"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ChevronRightBoxOutline from "vue-material-design-icons/ChevronRightBoxOutline.vue";
import ChevronLeftBoxOutline from "vue-material-design-icons/ChevronLeftBoxOutline.vue";
import Podium from "vue-material-design-icons/Podium.vue";
import Information from "vue-material-design-icons/Information.vue";
import { mapActions, mapGetters } from "vuex";
// ChevronRightBoxOutline
export default {
  components: {
    ExtraMission: () =>
      import(
        /* webpackChunkName: "header-page" */ "@/components/ExtraMissions.vue"
      ),
    StepProgressBar: () =>
      import(
        /* webpackChunkName: "step-progress-bar" */ "@/components/StepProgressBar.vue"
      ),
    PointsTable: () =>
      import(
        /* webpackChunkName: "points-table" */ "@/components/PointsTable.vue"
      ),
    ChevronRightBoxOutline,
    ChevronLeftBoxOutline,
    Podium,
    Information,
  },
  data() {
    return {
      userData: {},
      configStepProgressBar: {
        points: [],
        userPoints: 0,
        percentBar: 0,
        percentContainerUserPosition: 110,
        percentMoveContainerPosition: 0,
        arrowColor: "",
      },
      positionBar: 0,
      lastStep: 400,
    };
  },
  methods: {
    ...mapActions(["setUserServiceData"]),
    ...mapGetters(["getUserData"]),
    mapUserData() {
      this.lastStep = 400;
      let index;
      for (index = 4; this.userData.iPontoAcumulado >= this.lastStep; index++) {
        this.lastStep = this.lastStep + 100;
      }

      this.lastStep = this.lastStep + this.positionBar;

      this.configStepProgressBar.points = [
        {
          value: this.lastStep - 300,
          label: "pontos",
          color: this.selectColor(this.lastStep - 300),
          colorName: this.selectNameColor(this.lastStep - 300),
          icon: "medal",
        },
        {
          value: this.lastStep - 200,
          label: "pontos",
          color: this.selectColor(this.lastStep - 200),
          colorName: this.selectNameColor(this.lastStep - 200),
          icon: "medal",
        },
        {
          value: this.lastStep - 100,
          label: "pontos",
          color: this.selectColor(this.lastStep - 100),
          colorName: this.selectNameColor(this.lastStep - 100),
          icon: "medal",
        },
        {
          value: this.lastStep,
          label: "pontos",
          color: this.selectColor(this.lastStep),
          colorName: this.selectNameColor(this.lastStep),
          icon: "medal",
        },
      ];
      if (this.lastStep < 500)
        this.configStepProgressBar.arrowColor = "#51bcdc";
      else if (this.lastStep >= 500 && this.lastStep <= 800)
        this.configStepProgressBar.arrowColor = "#0066b5";
      else if (this.lastStep >= 900 && this.lastStep <= 1200)
        this.configStepProgressBar.arrowColor = "#003a66";
      else if (this.lastStep > 1200)
        this.configStepProgressBar.arrowColor = "#001424";

      this.configStepProgressBar.userPoints = parseInt(
        this.userData.iPontoAcumulado
      );
      if (this.lastStep <= 400)
        this.configStepProgressBar.percentBar =
          (parseInt(this.userData.iPontoAcumulado) / 450) * 100;
      else
        this.configStepProgressBar.percentBar =
          (parseInt(this.userData.iPontoAcumulado - (this.lastStep - 400)) /
            450) *
          100;
    },
    selectColor(points) {
      if (points <= 400) return "#c55a11";
      else if (points > 400 && points <= 800) return "#a6a6a6";
      else return "#ffc000";
    },
    selectNameColor(points) {
      if (points < 500) return "light-blue";
      else if (points == 500) return "light-blue-grad";
      else if (points > 500 && points < 900) return "normal";
      else if (points == 900) return "normal-grad";
      else if (points > 900 && points < 1300) return "dark-blue";
      else if (points == 1300) return "dark-blue-grad";
      else if (points > 1300) return "black";
    },
    clickButtonRight() {
      this.positionBar = this.positionBar + 100;
      this.mapUserData();
    },
    clickButtonLeft() {
      this.positionBar = this.positionBar - 100;
      this.mapUserData();
    },
    redirectPage(name, selected) {
      this.$router.push({ name, params: { selected } });
    },
  },
  created() {
    this.userData = this.getUserData();
    if (this.userData.iPontoAcumulado > 300) this.positionBar = 100;

    this.mapUserData();
  },
  computed: {
    getNameMonth() {
      let months = [
        "Janeiro",
        "Fevereiro",
        "Março",
        "Abril",
        "Maio",
        "Junho",
        "Julho",
        "Agosto",
        "Setembro",
        "Outubro",
        "Novembro",
        "Dezembro",
      ];
      return months[new Date().getMonth()] + "/" + new Date().getFullYear();
    },
  },
};
</script>

<style scoped>
.container-content-page {
  display: flex;
}
.container-left {
  flex-grow: 1;
  max-width: 50%;
  margin: 0 auto;
  padding: 0 10px;
}
.container-right {
  flex-grow: 1;
  border-left: 3px solid #d4d4d4;
  max-width: 50%;
  padding: 0 15px;
}
p.title-step-progress {
  text-align: left;
  padding: 19px 68px 0;
  font-weight: 600;
  margin: unset;
}
.link-learn-more {
  text-align: left;
  padding: 4px 19px;
}
.message-missions {
  display: flex;
  margin: 10px 19px;
  flex-direction: column;
  align-items: center;
}
.message-missions > .message-bold {
  font-size: 1.58vw;
  max-width: 235px;
  text-align: left;
}

.message-missions > .message {
  margin: unset;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3px;
  font-size: 1vw;
}

.container-extra-missons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.click-here-learn-more {
  cursor: pointer;
}

.title-right > h1 {
  color: #3a9b9a;
  font-size: 1.7vw;
  margin: unset;
}
.container-title {
  display: flex;
  justify-content: flex-start;
  margin: 64px 55px 0;
  padding: 24px 20px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: -2px 4px 3px 0px grey;
}
.img-icon {
  margin: 0 15px;
  height: 4.5vw;
}
.container-content-right {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.card-right {
  width: 50%;
  margin: 37px 0px;
}
.card-right > p {
  font-size: 1.1vw;
  font-weight: 600;
  margin: 10px;
}
.card-right > a {
  cursor: pointer;
}
.link-style {
  text-decoration: none;
  color: #005272;
}
.button-carousel {
  background: transparent;
  border: unset;
  cursor: pointer;
  color: #005272;
  outline: none;
}

.card-right-title {
  font-size: 1vw;
  font-weight: 600;
}
.title-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-right > p {
  margin: 3px 0;
  font-size: 26px;
}

.title-right > h4 {
  margin: 10px 0;
  font-size: 30px;
}
.span-click {
  cursor: pointer;
  font-weight: 600;
}
.container-imgs-reports {
  height: 300px;
  margin-top: 25px;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}
.imgs-reports {
  height: 14vw;
  width: 18vw;
  border-radius: 20px;
  box-shadow: -2px 4px 3px 0px grey;
  border: 1px solid;
  cursor: pointer;
}
.icon-podium {
  margin: 0 23px 0 10px;
}
.container-title-progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tooltip{
  position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #005272;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 117%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
  left: -178px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #005272 transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>