<template>
  <div class="container-program">
    <div class="container-texts">
      <ol>
        <li>
          <h1>Lorem Ipsum</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </li>
        <li>
          <h1>Lorem Ipsum</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </li>
        <li>
          <h1>Lorem Ipsum</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </li>
        <li>
          <h1>Lorem Ipsum</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </li>
        <li>
          <h1>Lorem Ipsum</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </li>
      </ol>
    </div>
    <a :href="publicPath" download="Regulamento.pdf" class="regulation">
      <div class="icon-link-regulation">
        <ChevronTripleRight :size="50" :fillColor="'#39989a'" />
      </div>
      <FilePdf :size="30" :fillColor="'#b30b00'" /> Regulamento
    </a>
  </div>
</template>

<script>
import ChevronTripleRight from "vue-material-design-icons/ChevronTripleRight.vue";
import FilePdf from "vue-material-design-icons/FilePdf.vue";
export default {
  data() {
    return {
      publicPath: require("@/assets/PDFs/PDFRegulamento.pdf"),
    };
  },
  components: {
    ChevronTripleRight,
    FilePdf
  },
};
</script>

<style scoped>
.container-program {
  display: flex;
  margin: 75px;
  justify-content: space-between;
}
p {
  text-align: justify;
  font-size: 0.9vw;
}
.container-texts {
  text-align: left;
  max-width: 50%;
}
.regulation {
  height: 30px;
  padding: 20px;
  align-self: flex-end;
  position: fixed;
  right: 23px;
  bottom: 51px;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: -2px 4px 3px 0px grey;
  font-size: 1.1vw;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: unset;
  color: #005272;
}
.icon-link-regulation {
  margin-right: 15px;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

ol {
  counter-reset: my-awesome-counter;
  list-style: none;
}
ol li {
  margin: 0 0 40px 0;
  counter-increment: my-awesome-counter;
  position: relative;
}
ol li::before {
  content: counter(my-awesome-counter);
  color: #005272;
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 20px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(352deg);
  background: #bfc6ca00;
  border-radius: 7px;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
  border: 1px solid;
  box-shadow: -2px 4px 3px 0px grey;
}
</style>