<template>
  <div class="container-extra-missons">
    <div class="message-missions">
      <div class="message-bold">Missões Bônus</div>
      <div class="message">Pontos extras para as missões realizadas:</div>
    </div>
    <extra-mission
      :description="'2 Credenciamentos com faturamento'"
      points=""
      :checkMission="false"
      :urlPdf="require('@/assets/PDFs/PDF1.pdf')"
      namePdf="PDF1"
    ></extra-mission>
    <extra-mission
      :description="'6 Credenciamentos com faturamento'"
      points=""
      :checkMission="false"
      :urlPdf="require('@/assets/PDFs/PDF2.pdf')"
      namePdf="PDF2"
    ></extra-mission>
    <extra-mission
      :description="'10 Credenciamentos com faturamento'"
      points=""
      :checkMission="false"
      :urlPdf="require('@/assets/PDFs/PDF3.pdf')"
      namePdf="PDF3"
    ></extra-mission>
    <extra-mission
      :description="'2 Contratos Novos VR'"
      points=""
      :checkMission="false"
      :urlPdf="require('@/assets/PDFs/PDF4.pdf')"
      namePdf="PDF4"
    ></extra-mission>
    <extra-mission
      :description="'4 Contratos Novos VR'"
      points=""
      :checkMission="false"
      :urlPdf="require('@/assets/PDFs/PDF5.pdf')"
      namePdf="PDF5"
    ></extra-mission>
    <extra-mission
      :description="'6 Contratos Novos VR'"
      points=""
      :checkMission="false"
      :urlPdf="require('@/assets/PDFs/PDF6.pdf')"
      namePdf="PDF6"
    ></extra-mission>
  </div>
</template>

<script>
export default {
  components: {
    ExtraMission: () =>
      import(
        /* webpackChunkName: "extra-mission" */ "@/components/ExtraMissions.vue"
      ),
  },
};
</script>

<style scoped>
.container-extra-missons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.message-missions {
  flex-grow: 1;
  width: 100%;
  margin: 40px;
}
</style>