<template>
  <div class="container-reports">
    <div class="selects">
      <div class="container-report-select">
        <label for="cars">Escolha seu relatório:</label>
        <select
          class="input-values"
          name="reports"
          id="reports"
          v-model="reportSelected"
          @change="mapDataTable()"
        >
          <option value="1">Jornada da maquininha</option>
          <option value="2">Desempenho dos indicadores</option>
          <option value="3">Desempenho das unidades</option>
          <option value="4">Desempenho da SEV</option>
        </select>
      </div>
      <div class="container-report-select">
        <label for="cars">Período:</label>
        <vue-monthly-picker
          v-model="dateSelected"
          :dateFormat="'YYYY-MM'"
          :max="today"
          :clearOption="false"
          :monthLabels="[
            'Jan',
            'Fev',
            'Mar',
            'Abr',
            'Mai',
            'Jun',
            'Jul',
            'Ago',
            'Set',
            'Out',
            'Nov',
            'Dez',
          ]"
        >
        </vue-monthly-picker>
      </div>
      <div v-if="reportSelected != 1" class="container-report-select">
        <label for="cars">Pesquisa por unidade:</label>
        <div class="container-search">
          <input
            v-model="filterPerUnit"
            class="input-values"
            type="text"
            placeholder="Digite aqui..."
          />
          <button @click="mapDataTable()" class="button-search"><Magnify /></button>
        </div>
      </div>
      <div v-if="reportSelected == 2" class="container-report-select">
        <label for="cars">Pesquisa por matrícula:</label>
        <div class="container-search">
          <input
            class="input-values"
            v-model="filterPerId"
            type="text"
            placeholder="Digite aqui..."
          />
          <button class="button-search"><Magnify /></button>
        </div>
      </div>
      <div class="download">
        <div class="icon-download" id="one" @click="downloadExcel()">
          <download :size="35" :fillColor="'#39989a'" />
          <p>Baixar</p>
        </div>
      </div>
    </div>
    <div class="table" ref="table">
      <table v-if="dataTable[1]" style="width: 100%">
        <tr v-for="(line, index) in dataTable" :key="index">
          <template v-if="index == 0">
            <th v-for="(value, indexValues) in line" :key="indexValues">
              {{ value }}
            </th>
          </template>
          <template v-else>
            <template
              v-if="index > startRow && index <= startRow + rowsPerPage"
            >
              <td v-for="(value, indexValues) in line" :key="indexValues">
                {{ value }}
              </td>
            </template>
          </template>
        </tr>
      </table>
      <h2 v-else>Nenhum registro encontrado para os filtros selecionados!</h2>
      <div v-if="dataTable[1]" class="container-buttons-pagination">
        <button class="button-carousel" @click="movePages(-1)">
          <ChevronLeftBoxOutline :size="40" />
        </button>
        <p>Página {{startRow / rowsPerPage + 1}} de {{Math.ceil((dataTable.length - 1) / rowsPerPage)}}</p>
        <button class="button-carousel" @click="movePages(1)">
          <ChevronRightBoxOutline :size="40" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Download from "vue-material-design-icons/Download.vue";
import VueMonthlyPicker from "vue-monthly-picker";
import Magnify from "vue-material-design-icons/Magnify.vue";
import ChevronRightBoxOutline from "vue-material-design-icons/ChevronRightBoxOutline.vue";
import ChevronLeftBoxOutline from "vue-material-design-icons/ChevronLeftBoxOutline.vue";

export default {
  props: {
    selected: {
      type: String,
      default: "1",
    },
  },
  components: {
    Download,
    VueMonthlyPicker,
    Magnify,
    ChevronRightBoxOutline,
    ChevronLeftBoxOutline,
  },
  methods: {
    ...mapActions(["setExtractOfUseService", "setExtractUnit"]),
    ...mapGetters(["getExtractUse", "getExtractUnit"]),

    downloadExcel() {
      let a = document.createElement("a");
      let data_type = "data:application/vnd.ms-excel";
      let table_div = this.$refs.table;
      let table_html = table_div.outerHTML.replace(/ /g, "%20");
      a.href = data_type + ", " + table_html;
      if (this.reportSelected == "1") a.download = "Jornada_da_Maquininha.xls";
      if (this.reportSelected == "2")
        a.download = "Desempenho_dos_Indicadores.xls";
      if (this.reportSelected == "3")
        a.download = "Desempenho_das_Unidades.xls";
      if (this.reportSelected == "4") a.download = "Desempenho_da_SEV.xls";
      a.style.cssText = "display:none;";
      document.body.appendChild(a);
      a.click();
    },
    async mapDataTable() {
      this.dataTable = [];
      this.startRow = 0;

      if (this.dateSelected._i)
        this.dateSelected =
          this.dateSelected._i.split("/")[0] +
          "-" +
          this.formatTwoDigits(this.dateSelected._i.split("/")[1]);

      if (this.reportSelected == "1") {
        if (!this.getExtractUse().length) await this.setExtractOfUseService();
        this.mapOptionJourney();
      } else {
        if (!this.getExtractUnit().length) await this.setExtractUnit();
        if (this.reportSelected == "2") this.mapOptionIndicators();
        if (this.reportSelected == "3") this.mapUnitPerformance();
        if (this.reportSelected == "4") this.performanceSev();
      }
    },
    performanceSev() {
      let mapList = [];
      mapList = this.getExtractUnit().filter((content) => {
        let yearMonth =
          new Date(content.dData_Base).getFullYear() +
          "-" +
          this.formatTwoDigits(new Date(content.dData_Base).getMonth() + 1);
        if (this.filterPerUnit)
          return yearMonth == this.dateSelected && content.iSEV == "1" && content.iUnidade.includes(this.filterPerUnit)
        return yearMonth == this.dateSelected && content.iSEV == "1";
      });
      this.dataTable.push([
        "Data",
        "Unidade",
        "% Empregados",
        "Pontos",
        "SEV",
        "SR",
        "Quantidade de Empregados Vinculados (LEP)",
        "Quantidade de Empregados Habilitados (acima de 100 pontos)",
      ]);
      mapList.forEach((content) => {
        this.dataTable.push([
          content.dData_Base
            ? this.formatDate(new Date(content.dData_Base))
            : "",
          content.iUnidade,
          content.fEmpregadoPercentual,
          content.iPonto,
          content.iSEV,
          content.iSR,
          "",
          "",
        ]);
      });
    },
    mapUnitPerformance() {
      let mapList = [];
      mapList = this.getExtractUnit().filter((content) => {
        let yearMonth =
          new Date(content.dData_Base).getFullYear() +
          "-" +
          this.formatTwoDigits(new Date(content.dData_Base).getMonth() + 1);
        if (this.filterPerUnit)
          return yearMonth == this.dateSelected && content.iUnidade.includes(this.filterPerUnit)
        return yearMonth == this.dateSelected;
      });
      mapList.sort((a, b) => {
        if (a.iUnidade > b.iUnidade) return 1;
        if (a.iUnidade < b.iUnidade) return -1;
        return 0;
      });
      this.dataTable.push([
        "Data",
        "Unidade",
        "% Empregados",
        "Pontos",
        "SEV",
        "SR",
        "SUV",
      ]);
      mapList.forEach((content) => {
        this.dataTable.push([
          content.dData_Base
            ? this.formatDate(new Date(content.dData_Base))
            : "",
          content.iUnidade,
          content.fEmpregadoPercentual,
          content.iPonto,
          content.iSEV,
          content.iSR,
          content.iSUV,
        ]);
      });
    },
    mapOptionIndicators() {
      let mapList = [];
      mapList = this.getExtractUnit().filter((content) => {
        let yearMonth =
          new Date(content.dData_Base).getFullYear() +
          "-" +
          this.formatTwoDigits(new Date(content.dData_Base).getMonth() + 1);
        if (this.filterPerUnit)
          return yearMonth == this.dateSelected && content.iUnidade.includes(this.filterPerUnit)
        return yearMonth == this.dateSelected;
      });
      this.dataTable.push(["Data", "Unidade", "% Empregados", "Pontos"]);
      mapList.forEach((content) => {
        this.dataTable.push([
          content.dData_Base
            ? this.formatDate(new Date(content.dData_Base))
            : "",
          content.iUnidade,
          content.fEmpregadoPercentual,
          content.iPonto,
        ]);
      });
    },
    mapOptionJourney() {
      let mapList = [];
      mapList = this.getExtractUse().filter((content) => {
        let yearMonth =
          new Date(content.dData_Base).getFullYear() +
          "-" +
          this.formatTwoDigits(new Date(content.dData_Base).getMonth() + 1);
        return (
          content.Check_Produto1 == "Credenciamento" &&
          yearMonth == this.dateSelected
        );
      });
      this.dataTable.push([
        "Data da venda",
        "Evidência",
        "Afiliação",
        "Instalação",
        "Ativação",
        "Faturamento",
        "Status Final",
      ]);
      mapList.forEach((content) => {
        this.dataTable.push([
          content.dData_Base
            ? this.formatDate(new Date(content.dData_Base))
            : "",
          content.vEvidencia,
          content.dData_Afiliacao
            ? this.formatDate(new Date(content.dData_Afiliacao))
            : "",
          content.dData_Instalacao
            ? this.formatDate(new Date(content.dData_Instalacao))
            : "",
          content.dData_Ativacao
            ? this.formatDate(new Date(content.dData_Ativacao))
            : "",
          content.fFaturamento
            ? "R$" + parseInt(content.fFaturamento).toFixed(2)
            : "",
          content.vStatus_Proposta,
        ]);
      });
    },

    formatDate(date) {
      let dateFormated = new Date(date);
      return (
        this.formatTwoDigits(dateFormated.getDay()) +
        "/" +
        this.formatTwoDigits(dateFormated.getMonth() + 1) +
        "/" +
        dateFormated.getFullYear()
      );
    },
    formatTwoDigits(monthNumber) {
      if (monthNumber < 10) return "0" + monthNumber;
      return monthNumber;
    },
    movePages: function (amount) {
      var newStartRow = this.startRow + amount * this.rowsPerPage;
      if (newStartRow >= 0 && newStartRow < this.dataTable.length - 1) {
        this.startRow = newStartRow;
      }
    },
  },
  data() {
    return {
      dataTable: [],
      dateSelected:
        new Date().getFullYear() +
        "-" +
        this.formatTwoDigits(new Date().getMonth() + 1),
      today:
        new Date().getFullYear() +
        "-" +
        this.formatTwoDigits(new Date().getMonth() + 1),
      reportSelected: "1",
      startRow: 0,
      rowsPerPage: 8,
      filterPerUnit: "",
      filterPerId: ""
    };
  },
  created() {
    this.reportSelected = this.selected;
    this.mapDataTable();
  },
  watch: {
    dateSelected() {
      this.mapDataTable();
    },
  },
};
</script>

<style scoped>
.container-report-select {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  margin: 25px;
  font-size: 1.6vw;
  align-items: flex-start;
}
.container-reports {
  margin: 50px;
  padding: 10px;
}
.selects {
  display: flex;
  flex-wrap: wrap;
}

#datemax {
  font-size: 1.1vw;
  text-indent: 1px;
  border: none;
  background: transparent;
  color: #005272;
  outline: none;
  height: 45px;
  font-weight: 600;
  margin-top: 20px;
  width: 100%;
}

.input-values {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  border: none;
  background: transparent;
  color: #005272;
  outline: none;
  height: 45px;
  font-size: 1.1vw;
  font-weight: 600;
  margin-top: 23px;
  padding-top: 4px;
  border: 1px solid #00000026;
  padding: 5px;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px hsl(0deg 0% 4% / 10%);
}

input.input-values {
  font-size: 1vw;
  font-weight: 100;
  height: 31px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.1vw;
}
th {
  border-bottom: 3px solid #318b93;
}
th,
td {
  padding: 15px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.download {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3vw;
  align-items: flex-end;
}

.icon-download {
  margin: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.icon-download > p {
  margin-left: 10px;
}
.vue-monthly-picker {
  margin-top: 20px;
  padding-top: 4px;
}
div.month-year-display {
  border: none;
  background: transparent;
  color: #005272;
  outline: none;
  height: 45px;
  font-size: 1.1vw;
  font-weight: 600;
  padding: unset;
  align-items: flex-start;
}
.button-search {
  height: 43px;
  margin-top: 23px;
  border-left: unset;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 50px;
  color: #005272;
  cursor: pointer;
  outline: unset;
}
.button-search:hover {
  background: #0000002b;
}
.button-search:active {
  background: #00000054;
}
.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-buttons-pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
</style>