<template>
  <div>
    <div class="container-track-mission">
      <div class="container-left">
        <div class="link-extract">
          <div class="container-link-extract">
            <router-link to="/acompanhar-missoes/extrato"
              >Extrato de Pontos
            </router-link>
            <div class="icon-magnify"><Magnify /></div>
          </div>
        </div>
        <points-table />
      </div>

      <div class="container-right">
        <div class="message-missions">
          <div class="message-bold">Missões Bônus</div>
          <div class="message">Pontos extras para as missões realizadas:</div>
        </div>
        <div class="container-extra-missons">
          <extra-mission
            :description="'2 Credenciamentos com faturamento'"
            points="20"
            :checkMission="userData.CheckMissao1 == '1'"
          ></extra-mission>
          <extra-mission
            :description="'6 Credenciamentos com faturamento'"
            points="40"
            :checkMission="userData.CheckMissao2 == '1'"
          ></extra-mission>
          <extra-mission
            :description="'10 Credenciamentos com faturamento'"
            points="60"
            :checkMission="userData.CheckMissao3 == '1'"
          ></extra-mission>
          <extra-mission
            :description="'2 Contratos Novos VR'"
            points="20"
            :checkMission="userData.CheckMissao4 == '1'"
          ></extra-mission>
          <extra-mission
            :description="'4 Contratos Novos VR'"
            points="40"
            :checkMission="userData.CheckMissao5 == '1'"
          ></extra-mission>
          <extra-mission
            :description="'6 Contratos Novos VR'"
            points="60"
            :checkMission="userData.CheckMissao6 == '1'"
          ></extra-mission>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// magnify
import Magnify from "vue-material-design-icons/Magnify.vue";
import { mapGetters } from "vuex";
export default {
  components: {
    ExtraMission: () =>
      import(
        /* webpackChunkName: "extra-mission" */ "@/components/ExtraMissions.vue"
      ),
    PointsTable: () =>
      import(
        /* webpackChunkName: "points-table" */ "@/components/PointsTable.vue"
      ),
    Magnify,
  },
  methods: {
    ...mapGetters(["getUserData"]),
  },
  data() {
    return {
      userData: this.getUserData(),
    };
  },
};
</script>

<style scoped>
.container-track-mission {
  display: flex;
  margin: 0 55px;
}
.container-left {
  max-width: 50%;
  flex-grow: 1;
  padding: 0 50px 10px;
  display: flex;
  flex-direction: column;
}
.message-missions {
  display: flex;
  margin: 10px 19px;
  flex-direction: column;
  align-items: center;
}
.message-missions > .message-bold {
  font-size: 30px;
  max-width: 235px;
  text-align: left;
}
.message-missions > .message {
  margin: unset;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3px;
  font-size: 17px;
}

.container-extra-missons {
  display: flex;
  flex-wrap: wrap;
  padding-left: 31px;
  justify-content: center;
}
.container-right {
  border-left: 3px solid #d4d4d4;
  max-width: 50%;
  flex-grow: 1;
}
.card-points {
  margin: 30px 10%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfbfbf;
  border-radius: 3px;
  box-shadow: -2px 4px 3px 0px grey;
  font-size: 31px;
  font-weight: 600;
}
.container-link-extract {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.container-link-extract > a {
  text-decoration: none;
  color: #005272;
  font-weight: 600;
  margin: 0 10px;
}
.subtitle-link-extract {
  margin: 0 10%;
  text-align: start;
  font-size: 1vw;
}

.link-extract {
  display: flex;
  margin-bottom: 15px;
  margin: 11px 0;
}
.container-link-extract {
  padding: 9px;
  border: 1px solid;
  border-radius: 16px;
  box-shadow: -2px 4px 3px 0px grey;
}



</style>