<template>
  <div>
    <div class="description-bar">
      <p>Acompanhe aqui sua jornada</p>
    </div>
    <div class="bar-progress">
      <step-progress-bar :config="configStepProgressBar"></step-progress-bar>
      <button
        class="button-carousel"
        :disabled="lastStep <= 1200"
        @click="clickButtonLeft()"
      >
        <ChevronLeftBoxOutline :size="40" />
      </button>
      <button class="button-carousel" :disabled="lastStep >= 5000" @click="clickButtonRight()">
        <ChevronRightBoxOutline :size="40" />
      </button>
    </div>
    <template v-if="getUserData().iPontoAcumulado">
      <vue-page-transition name="fade-in-right">
        <router-view></router-view>
      </vue-page-transition>
    </template>
  </div>
</template>

<script>
import ChevronRightBoxOutline from "vue-material-design-icons/ChevronRightBoxOutline.vue";
import ChevronLeftBoxOutline from "vue-material-design-icons/ChevronLeftBoxOutline.vue";
import { mapActions, mapGetters } from "vuex";
export default {
  components: {
    StepProgressBar: () =>
      import(
        /* webpackChunkName: "step-progress-bar" */ "@/components/StepProgressBar.vue"
      ),
    ChevronRightBoxOutline,
    ChevronLeftBoxOutline,
  },
  data() {
    return {
      configStepProgressBar: {
        points: [],
        userPoints: 0,
        percentBar: 0,
        percentContainerUserPosition: 102.1,
        percentMoveContainerPosition: 0,
        arrowColor: "",
      },
      positionBar: 0,
      lastStep: 1200,
      userData: {},
    };
  },
  methods: {
    ...mapActions(["setUserServiceData"]),
    ...mapGetters(["getUserData"]),
    mapUserData() {
      this.lastStep = 1200;
      let index;
      for (index = 1; this.userData.iPontoAcumulado >= this.lastStep; index++) {
        this.lastStep = this.lastStep + 100;
      }

      this.lastStep = this.lastStep + this.positionBar;
      this.configStepProgressBar.points = [
        {
          value: this.lastStep - 1100,
          label: "pontos",
          color: this.selectColor(this.lastStep - 1100),
          colorName: this.selectNameColor(this.lastStep - 1100),
          icon: "medal",
        },
        {
          value: this.lastStep - 1000,
          label: "pontos",
          color: this.selectColor(this.lastStep - 1000),
          colorName: this.selectNameColor(this.lastStep - 1000),
          icon: "medal",
        },
        {
          value: this.lastStep - 900,
          label: "pontos",
          color: this.selectColor(this.lastStep - 900),
          colorName: this.selectNameColor(this.lastStep - 900),
          icon: "medal",
        },
        {
          value: this.lastStep - 800,
          label: "pontos",
          color: this.selectColor(this.lastStep - 800),
          colorName: this.selectNameColor(this.lastStep - 800),
          icon: "medal",
        },
        {
          value: this.lastStep - 700,
          label: "pontos",
          color: this.selectColor(this.lastStep - 700),
          colorName: this.selectNameColor(this.lastStep - 700),
          icon: "medal",
        },
        {
          value: this.lastStep - 600,
          label: "pontos",
          color: this.selectColor(this.lastStep - 600),
          colorName: this.selectNameColor(this.lastStep - 600),
          icon: "medal",
        },
        {
          value: this.lastStep - 500,
          label: "pontos",
          color: this.selectColor(this.lastStep - 500),
          colorName: this.selectNameColor(this.lastStep - 500),
          icon: "medal",
        },
        {
          value: this.lastStep - 400,
          label: "pontos",
          color: this.selectColor(this.lastStep - 400),
          colorName: this.selectNameColor(this.lastStep - 400),
          icon: "medal",
        },
        {
          value: this.lastStep - 300,
          label: "pontos",
          color: this.selectColor(this.lastStep - 300),
          colorName: this.selectNameColor(this.lastStep - 300),
          icon: "medal",
        },
        {
          value: this.lastStep - 200,
          label: "pontos",
          color: this.selectColor(this.lastStep - 200),
          colorName: this.selectNameColor(this.lastStep - 200),
          icon: "medal",
        },
        {
          value: this.lastStep - 100,
          label: "pontos",
          color: this.selectColor(this.lastStep - 100),
          colorName: this.selectNameColor(this.lastStep - 100),
          icon: "medal",
        },
        {
          value: this.lastStep,
          label: "pontos",
          color: this.selectColor(this.lastStep),
          colorName: this.selectNameColor(this.lastStep),
          icon: "medal",
        },
      ];
      this.configStepProgressBar.userPoints = parseInt(
        this.getUserData().iPontoAcumulado
      );
      if (this.lastStep <= 1200)
        this.configStepProgressBar.arrowColor = "#003a66";
      else 
        this.configStepProgressBar.arrowColor = "#001424";

      if (this.lastStep <= 1200)
        this.configStepProgressBar.percentBar =
          (parseInt(this.userData.iPontoAcumulado) / 1250) * 100;
      else
        this.configStepProgressBar.percentBar =
          (parseInt(this.userData.iPontoAcumulado - (this.lastStep - 1200)) /
            1250) *
          100;

      // this.configStepProgressBar.percentBar = parseInt(this.getUserData().iPontoAcumulado) > 1235 ? 97 : (parseInt(this.getUserData().iPontoAcumulado) / 1250) * 100;
    },
    selectColor(points) {
      if (points <= 400) return "#c55a11";
      else if (points > 400 && points <= 800) return "#a6a6a6";
      else return "#ffc000";
    },
    selectNameColor(points) {
      if (points < 500) return "light-blue";
      else if (points == 500) return "light-blue-grad";
      else if (points > 500 && points < 900) return "normal";
      else if (points == 900) return "normal-grad";
      else if (points > 900 && points < 1300) return "dark-blue";
      else if (points == 1300) return "dark-blue-grad";
      else if (points > 1300) return "black";
    },
    clickButtonRight() {
      this.positionBar = this.positionBar + 100;
      this.mapUserData();
    },
    clickButtonLeft() {
      this.positionBar = this.positionBar - 100;
      this.mapUserData();
    },
  },
  created() {
    this.userData = this.getUserData();

    if (
      this.userData.iPontoAcumulado > 700 &&
      this.userData.iPontoAcumulado <= 800
    )
      this.positionBar = 100;
    else if (
      this.userData.iPontoAcumulado > 800 &&
      this.userData.iPontoAcumulado <= 900
    )
      this.positionBar = 200;
    else if (
      this.userData.iPontoAcumulado > 900 &&
      this.userData.iPontoAcumulado <= 1000
    )
      this.positionBar = 300;
    else if (
      this.userData.iPontoAcumulado > 1000 &&
      this.userData.iPontoAcumulado <= 1100
    )
      this.positionBar = 400;
    else if (this.userData.iPontoAcumulado > 1100) this.positionBar = 500;
    this.mapUserData();
  },
};
</script>

<style>
.bar-progress {
  position: relative;
  margin: 100px 3% 55px;
}
.description-bar {
  font-weight: 600;
}
.button-carousel {
  background: transparent;
  border: unset;
  cursor: pointer;
  color: #005272;
  outline: none;
}
</style>