<template>
  <div class="extract-page">
    <div class="container-title-table">
      <p class="title-table">Extrato de pontos - Março/21</p>
      <router-link to="/acompanhar-missoes/missoes-extras" class="button-back"
        >Voltar</router-link
      >
    </div>
    <div class="container-table">
      <div class="table">
        <table style="width: 100%">
          <tr>
            <th>
              <p>Data</p>
              <p class="subtitle-table color-transp">pontos</p>
            </th>
            <th>
              <p>Evidência</p>
              <p class="subtitle-table color-transp">pontos</p>
            </th>
          </tr>
          <tr v-for="(line, index) in extractOfUse" :key="index">
            <td>{{ formatDate(line.dData_Base) }}</td>
            <td>{{ line.vEvidencia }}</td>
          </tr>
        </table>
      </div>
      <div class="table">
        <table style="width: 100%">
          <tr>
            <th>
              <p>Credenciamento</p>
              <p class="subtitle-table">30 pontos</p>
            </th>
            <th>
              <p>Transf. Domicílio</p>
              <p class="subtitle-table">15 pontos</p>
            </th>
            <th>
              <p>Faturamento</p>
              <p class="subtitle-table">20 pontos</p>
            </th>
          </tr>
          <tr v-for="(line, index) in extractOfUse" :key="index">
            <td>
              <check-bold :fillColor="setColorCheck(line, 'Credenciamento')" />
            </td>
            <td>
              <check-bold
                :fillColor="setColorCheck(line, 'Transf. Domicílio')"
              />
            </td>
            <td>
              <check-bold :fillColor="setColorCheck(line, 'Faturamento')" />
            </td>
          </tr>
        </table>
      </div>
      <div class="table">
        <table style="width: 100%">
          <thead>
            <tr>
              <th>
                <p>VA/VR</p>
                <p class="subtitle-table">10 pontos</p>
              </th>
              <th>
                <p>Crédito</p>
                <p class="subtitle-table">50 pontos</p>
              </th>
              <th>
                <p>Pontos</p>
                <p class="subtitle-table color-transp">50 pontos</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(line, index) in extractOfUse" :key="index">
              <td><check-bold :fillColor="setColorCheck(line, 'VA/VR')" /></td>
              <td>
                <check-bold
                  :fillColor="setColorCheck(line, 'Cartao Creditado')"
                />
              </td>
              <td>{{ line.iPonto }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th id="total" colspan="2">Total :</th>
              <td>{{ sumPoints }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <router-link to="/acompanhar-missoes/missoes-extras" class="button-back"
      >Voltar</router-link
    >
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import CheckBold from "vue-material-design-icons/CheckBold.vue";
export default {
  components: { CheckBold },
  methods: {
    ...mapActions(["setExtractOfUseService"]),
    ...mapGetters(["getExtractUse"]),
    setColorCheck(item, nameColumn) {
      let index = 1;
      let color = "#ffffff00";
      while (item["Check_Produto" + index]) {
        if (item["Check_Produto" + index] == nameColumn) {
          color = "#43a876";
          break;
        }
        index++;
      }

      return color;
    },
    formatDate(date) {
      let [month, day, year] = date.split("/");
      return day + "/" + month + "/" + year;
    },
  },
  data() {
    return {
      extractOfUse: [],
    };
  },
  async created() {
    if (!this.getExtractUse().length) await this.setExtractOfUseService();
    this.extractOfUse = this.getExtractUse();
  },
  computed: {
    sumPoints() {
      return this.extractOfUse.reduce((total, num) => ({
        iPonto: parseInt(total.iPonto) + parseInt(num.iPonto),
      })).iPonto;
    },
  },
};
</script>

<style scoped>
table,
th,
td {
  border: 3px solid #3d9b9c;
  border-collapse: collapse;
  font-size: 1.5vw;
}
.container-table {
  display: flex;
  justify-content: center;
}
th {
  padding: 10px;
}
th > p {
  margin: unset;
}

th,
td {
  padding: 10px;
  height: 35px;
}

tr {
  min-height: 30px;
}

.table {
  margin: 0 5px 20px;
  border-radius: 3px;
  overflow: hidden;
}
.subtitle-table {
  font-weight: 500;
}
.title-table {
  margin: 20px 0;
  font-size: 1.7vw;
  font-weight: bold;
}
.container-title-table {
  display: flex;
  margin: 0 16.5%;
  justify-content: space-around;
  align-items: center;
}
.button-back {
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #005272;
}
.color-transp {
  color: transparent;
  user-select: none;
}
</style>