<template>
  <div class="card-extra-mission card-active">
    <div class="title">{{description}}</div>
    <p v-if="points">({{points}} pontos)</p>
    <a v-if="urlPdf" :href="urlPdf" :download="namePdf + '.pdf'">
      <FilePdf :size="30" :fillColor="'#b30b00'" /> 
    </a>
    <div class="icon-check-mission">
      <check-bold v-if="checkMission" :size="40" :fillColor="'#00d625'"/>
    </div>
  </div>
</template>

<script>
import CheckBold from "vue-material-design-icons/CheckboxMarkedCircleOutline.vue";
import FilePdf from "vue-material-design-icons/FilePdf.vue";
export default {
  props:{
    description: {
      type: String,
      required: true
    },
    points: {
      type: String,
      required: true
    },
    status: {
      type: String,
      default: 'card-active'
    },
    checkMission: {
      type: Boolean,
      default: false
    },
    urlPdf: {},
    namePdf: {
      type: String,
      default: "engaja-mais"
    }
  },
  components: {CheckBold, FilePdf}

}
</script>

<style>
.card-extra-mission{
  margin: 11px 5px;
  width: 25%;
  border: 1px solid;
  box-shadow: -2px 4px 3px 0px grey;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px 13px;
  align-items: center;
  height: 129px;
}
.title{
  font-size: 1.3vw;
  font-weight: 600;
}
.points{
  font-size: 12px;
}

.card-active{
  color: #005272;
  position: relative;
}

.icon-check-mission{
  position: absolute;
  top: 10px;
  right: 10px;

}
</style>