<template>
    <header class="header">
      <img :src="require(`@/assets/images/WebsiteDesign1.png`)" alt="" class="img-top">
      <div class="container-search">
        <input type="text" placeholder="O que você procura?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'O que você procura?'">
        <div class="cog-icon-header">
          <cog-icon :size="40"/>
        </div>
        <div class="version">Versão 1</div>
      </div>
    <div class="topnav">
      <router-link to="/inicio">Início</router-link>
      <router-link to="/programa">Programa</router-link>
      <router-link to="/acompanhar-missoes/missoes-extras">Sua jornada</router-link>
      <router-link to="/relatorios">Relatórios</router-link>
      <router-link to="/portfolio">Portfólio</router-link>
      <div class="container-score">
        <div class="score">
          <p class="description">Pontos:</p>
        </div>
        <div class="score">
          <p class="value">{{points}} pontos</p>
        </div>
      </div>
    </div>
    <div class="container-img-engaja-mais">
      <img @click="redirectPage()" :src="require(`@/assets/images/engaja-mais.png`)" alt="" class="img-engaja-mais">
    </div>
    </header>
</template>

<script>
import CogIcon from "vue-material-design-icons/Cog.vue";
import { mapActions, mapGetters } from 'vuex'
export default {
  components: {CogIcon},
  data(){
    return{
      points: 0,
      levelUser: ""
    }
  },
  methods: {
    ...mapActions(['setUserServiceData']),
    ...mapGetters(['getUserPoints']),
    redirectPage(){
      const path = `/engaja-mais`
      if (this.$route.path !== path) this.$router.push({ path })
    }
  },
  created(){
    this.points = this.getUserPoints().points
    this.levelUser = this.getUserPoints().level
  }
}
</script>

<style scoped>
header.header{
  margin: 5px 0;
}
.container-search{
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 15px;
}
input{
  height: 40px;
  width: 250px;
  outline: unset;
  border-top: unset;
  border-right: unset;
  border-left: unset;
  border-bottom: 2px solid #6f6f6fe3;
  text-align: center;
  margin: 0 75px;
  z-index: 1;
  background: transparent;
  box-shadow: -1px 8px 6px -8px grey;
}
.icon-cof{
  display: flex;
  align-items: center;
  margin: 0 30px;
  padding: 10px;
  color: #6f6f6fe3;
}
.version{
  display: flex;
  align-items: center;
  margin-right: 75px;
  padding: 10px;
  color: #6f6f6fe3;
}


.topnav {
  overflow: hidden;
  padding-left: 260px;
  padding-right: 100px;
  background: linear-gradient(to right, rgba(82,189,221,0.98) 0%, rgba(82,189,221,1) 0%, rgba(4,81,109,1) 21%, rgba(57,152,154,1) 100%);
  font-weight: 600;
  font-size: 21px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  user-select: none;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  width: 180px;
  z-index: 1;
}

.container-score{
  display: flex;
  color: white;
  padding: 15px;
  font-size: 1.15vw;
  background: linear-gradient(to right, rgba(57,152,154,1) 0%, rgb(30 115 131) 0%, rgb(26 111 128) 41%, rgb(7 85 111) 100%);
  border: 1px solid;
  border-radius: 31px;
  margin: 10px;
}

.score{
  display: flex;
  flex-direction: column;
}

.score>p.description{
  margin: 0 25px 0 0;
  text-align: initial;
}

.score>p.value{
  margin: unset;  
  text-align: initial;
  white-space: nowrap
}

.img-top{
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 210px;
}
.img-engaja-mais{
  height: 90px;
  z-index: 10;
  cursor: pointer;
}
.container-img-engaja-mais{
  display: flex;
  padding: 18px 78px 0;
}

</style>