<template>
  <div class="container-table">
    <table style="width: 100%">
      <tr>
        <th colspan="2" class="text-center">Valor em pontos por produto</th>
      </tr>
      <tr>
        <th class="text-center">Produto</th>
        <th>Pontos</th>
      </tr>
      <tr>
        <td>Credenciamento - Instalação</td>
        <td class="points-table">20</td>
      </tr>
      <tr class="by-products">
        <td>Faturamento</td>
        <td class="points-table">30</td>
      </tr>
      <tr>
        <td>Transferência de Domicílio</td>
        <td class="points-table">15</td>
      </tr>
      <tr class="by-products">
        <td>Faturamento</td>
        <td class="points-table">30</td>
      </tr>
      <tr>
        <td>VA/VR - Cadastramento</td>
        <td class="points-table">10</td>
      </tr>
      <tr class="by-products">
        <td>Cartão Creditado</td>
        <td class="points-table">50</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.container-table {
  border: 1px solid;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: -2px 4px 3px 0px grey;
  margin-top: 13px;
  height: 100%;
}
.container-table>table,
.container-table>table>tr>th,
.container-table>table>tr>td {
  border: 2px solid #3d9b9c;
  border-collapse: collapse;
  font-size: 1.5vw;
}
.text-center{
  text-align: center;
}
tr:nth-child(even) {
  background-color: #ccd4eb;
}
tr:nth-child(odd) {
  background-color: #e8eaf6;
}
.points-table {
  font-weight: 100;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.1vw;
  text-align: left;
  height: 100%;
}
th {
  border-bottom: 3px solid #318b93;
  background: white;
}
th,
td {
  padding: 15px;
  border-right: 1px solid white;
}
td {
  font-weight: 600;
}
td:nth-child(even) {
  text-align: center;
}

th:nth-child(even) {
  text-align: center;
}

tr.by-products > td:nth-child(odd) {
  font-weight: 100;
  padding-left: 10%;
}
</style>