<template>
  <div class="step-progress-bar">
    <div class="container-fluid">
      <ul class="list-unstyled multi-steps">
        <li
          v-for="(step, index) in config.points"
          :key="index"
          :class="[
            step.value == 100 ? 'icon-line tooltip' : 'no-icon',
            step.value <= config.userPoints ? 'filled' : '',
            'color-line-' + step.colorName,
          ]"
        >
          <span class="tooltiptext">Habilitado</span>
          <p>{{ step.value }}</p>
        </li>
      </ul>
    </div>
    <div
      class="user-position"
      :class="{
        'overflow-hidden': config.percentBar < 0 || config.percentBar > 100,
      }"
      :style="{
        width: config.percentContainerUserPosition + '%',
        right: config.percentMoveContainerPosition + '%',
      }"
    >
      <div class="line" :style="{ left: config.percentBar + '%' }">
        <span class="icon-run tooltip"
          ><run :size="45" />
          <span class="tooltiptext">{{ config.userPoints + " pontos" }}</span>
        </span>
      </div>
    </div>
    <div class="arrow"><triangle :fillColor="config.arrowColor" /></div>
  </div>
</template>

<script>
import Triangle from "vue-material-design-icons/Triangle.vue";
import Run from "vue-material-design-icons/Run.vue";
export default {
  components: { Triangle, Run },
  props: {
    config: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
$brand-primary: tomato;
$white: #fff;
$grey-light: #ededed;
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: 2%;
  position: relative;
}
%remain-steps {
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  &:after {
    background-color: $grey-light;
  }
}
.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: unset;
  position: relative;
  > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: transparent;
    height: 118px;
    &.filled:before {
      background-color: #51bcdc;
    }
    &:before {
      content: "\2713";
      display: block;
      margin: 0 auto 4px;
      background-color: $white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border-radius: 50%;
    }
    &:after {
      content: "";
      height: 7px;
      width: 150%;
      position: absolute;
      top: 22px;
      left: -49%;
      z-index: -1;
    }

    &.is-active {
      @extend %remain-steps;
      &:before {
        background-color: $white;
        border-color: $brand-primary;
      }

      ~ li {
        color: #808080;
        @extend %remain-steps;
        &:before {
          background-color: $grey-light;
          border-color: $grey-light;
        }
      }
    }
  }
}
.arrow {
  right: -16px;
  transform: rotate(90deg);
  position: absolute;
  bottom: 63%;
}
p {
  color: #005272;
  margin: 10px 0;
  font-weight: 600;
}
.icon-medal-1 {
  position: absolute;
  top: -45px;
  width: 100%;
}
.icon-medal-2 {
  position: absolute;
  top: -50px;
  width: 100%;
}
.icon-medal-3 {
  position: absolute;
  top: -55px;
  width: 100%;
}
.icon-medal-4 {
  position: absolute;
  top: -60px;
  width: 100%;
}
.step-progress-bar {
  margin: 0 90px 0 138px;
  position: relative;
}
.user-position {
  position: absolute;
  height: 100%;
  top: -24px;
  top: -55px;
}

.overflow-hidden {
  overflow: hidden;
}
.line {
  position: relative;
  height: 62%;
  width: 2px;
  background: #005272;
  top: 48px;
  transition: left 0.2s;
}
.icon-run {
  position: absolute;
  bottom: 100%;
  right: -25px;
}

.list-unstyled.multi-steps > li.color-line-blue::after {
  background-color: #51bcdc;
}
.list-unstyled.multi-steps > li.color-line-blue::before {
  border: 7px solid #51bcdc;
}

.list-unstyled.multi-steps > li.color-line-light-blue.icon-line::before {
  background-image: url("../assets/images/like.png");
  background-size: 47px 47px;
  background-repeat: no-repeat;
  background-position: center;
}

.list-unstyled.multi-steps > li.color-line-black::after {
  background-color: #001424;
}
.list-unstyled.multi-steps > li.color-line-dark-blue::after {
  background-color: #003a66;
}
.list-unstyled.multi-steps > li.color-line-normal::after {
  background-color: #0066b5;
}
.list-unstyled.multi-steps > li.color-line-light-blue::after {
  background-color: #51bcdc;
}

.list-unstyled.multi-steps > li.color-line-black::before {
  border: 7px solid #001424;
}
.list-unstyled.multi-steps > li.color-line-dark-blue::before {
  border: 7px solid #003a66;
}
.list-unstyled.multi-steps > li.color-line-normal::before {
  border: 7px solid #0066b5;
}
.list-unstyled.multi-steps > li.color-line-light-blue::before {
  border: 7px solid #51bcdc;
}

.list-unstyled.multi-steps > li.color-line-black.filled::before {
  background-color: #001424;
}
.list-unstyled.multi-steps > li.color-line-dark-blue.filled::before {
  background-color: #003a66;
}
.list-unstyled.multi-steps > li.color-line-normal.filled::before {
  background-color: #0066b5;
}
.list-unstyled.multi-steps > li.color-line-light-blue.filled::before {
  background-color: #51bcdc;
}

.list-unstyled.multi-steps > li.color-line-dark-blue-grad::after {
  background: linear-gradient(
    to right,
    rgba(0, 58, 102, 0.98) 0%,
    rgba(0, 58, 102, 0.98) 0%,
    rgba(0, 20, 36, 1) 75%,
    rgba(0, 20, 36, 1) 100%
  );
}
.list-unstyled.multi-steps > li.color-line-normal-grad::after {
  background: linear-gradient(
    to right,
    rgba(0, 102, 181, 0.98) 0%,
    rgba(0, 102, 181, 0.98) 7%,
    rgba(0, 58, 102, 1) 75%,
    rgba(0, 58, 102, 1) 100%
  );
}
.list-unstyled.multi-steps > li.color-line-light-blue-grad::after {
  background: linear-gradient(
    to right,
    rgba(81, 188, 220, 0.98) 0%,
    rgba(81, 188, 220, 0.98) 7%,
    rgba(0, 102, 181, 0.99) 57%,
    rgba(0, 102, 181, 1) 100%
  );
}

.list-unstyled.multi-steps > li.color-line-dark-blue-grad::before {
  border: 7px solid #001424;
}
.list-unstyled.multi-steps > li.color-line-normal-grad::before {
  border: 7px solid #003a66;
}
.list-unstyled.multi-steps > li.color-line-light-blue-grad::before {
  border: 7px solid #0066b5;
}

.list-unstyled.multi-steps > li.color-line-dark-blue-grad.filled::before {
  background-color: #001424;
}
.list-unstyled.multi-steps > li.color-line-normal-grad.filled::before {
  background-color: #003a66;
}
.list-unstyled.multi-steps > li.color-line-light-blue-grad.filled::before {
  background-color: #0066b5;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0369b9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 117%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0369b9 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.icon-line.tooltip > .tooltiptext {
  background-color: #51bcdc;
}

.icon-line.tooltip > .tooltiptext::after {
  border-color: #51bcdc transparent transparent transparent;
}
.icon-line {
  z-index: 10;
}
.no-icon > .tooltiptext {
  display: none;
}
</style>