<template>
  <div class="container-app">
    <div id="app" v-if="getUserData().iPontoAcumulado">
      <Header />
      <vue-page-transition>
        <router-view></router-view>
      </vue-page-transition>
    </div>
    <footer id="footer"></footer>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  
  name: "App",
  components: {
    Header: () => import(/* webpackChunkName: "header-page" */ '@/components/Header.vue'),
  },
  methods: {
    ...mapActions(['setUserServiceData', 'setLoginData']),
    ...mapGetters(['getUserData'])
  },
  async created(){
    await this.setLoginData();
    await this.setUserServiceData();
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100%;
}
:root {
  --gutter: 20px;
}

.container-app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
html, body{
  height: 100%;
}
body{
  margin: unset;
  color: #005272;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  background: linear-gradient(to right, rgba(82,189,221,0.98) 0%, rgba(82,189,221,1) 0%, rgba(4,81,109,1) 21%, rgba(57,152,154,1) 100%);
  height: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>
